*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(
        45deg,
        #9b9993,
        #7a37ff
    );
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

form {
    background-color: #ffffff;
    width: 80%; /* Ajustez la largeur du formulaire */
    max-width: 450px; /* Limitez la largeur maximale du formulaire */
    padding: 50px 40px;
    border-radius: 8px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.15);
}

/* Reste du CSS inchangé */
/* ... */

label{
    font-weight: 500;
    color: #101030;
}
input{
    display: block;
    width: 100%;
    margin-top: 5px;
    padding: 12px;
    border-radius: 5px;
    outline: none;
    color: #101010;
}
#password{
    margin-bottom: 30px;
}
input[type="password"]{
    border: 2px solid #c2c2c2;
}
input[type="button"]{
    background-color: #8455e4;
    border: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 20px;
}
p{
    font-size: 14px;
    margin: 15px 0;
    display: inline-block;
    color: #ffffff;
}